.navbar-nav {
	margin-top: 25px;
}
body {
	padding-top: 100px;
    background-color: #EAEAEA;
}

.navbar-nav > li > a {
	border-radius: @border-radius-base;
	padding-top: 10px;
    padding-bottom: 10px;
}
label, button, a.btn {
	text-transform: uppercase;
	font-weight: normal;
}
.dropdown-menu > li > strong {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: bolder;
    line-height: 1.42857143;
    white-space: nowrap;
    text-transform: uppercase;
}
.text-control {
    display: block;
    height: 34px;
}

.btn-right {
    margin-top: 25px;
}
.form-list label{
    line-height: 34px;
    height: 34px;
}
.form-list input[type='checkbox']{
    line-height: 28px;
    height: 28px;
}
.table.form-list > tbody > tr > td {
    border-top: none;
}