.navbar-nav {
	margin-top: 25px;
}
body {
	padding-top: 100px;
    background-color: #EAEAEA;
}

.navbar-nav > li > a {
	border-radius: @border-radius-base;
	padding-top: 10px;
    padding-bottom: 10px;
}
label, button, a.btn {
	text-transform: uppercase;
	font-weight: normal;
}
.dropdown-menu > li > strong {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: bolder;
    line-height: 1.42857143;
    white-space: nowrap;
    text-transform: uppercase;
}
.text-control {
    display: block;
    height: 34px;
}

.btn-right {
    margin-top: 25px;
}
.form-list label{
    line-height: 34px;
    height: 34px;
}
.form-list input[type='checkbox']{
    line-height: 28px;
    height: 28px;
}
.table.form-list > tbody > tr > td {
    border-top: none;
}
/* SECOND LEVEL SUBMENU  */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.band-black {
    height: 30px;
    background-color: #000;
    span {
        line-height: 30px;
        color: #fff;
    }
}
.pre-header {
    height: 50px;
    line-height: 50px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d02e10+0,901a11+100 */
    background: #d02e10; /* Old browsers */
    background: -moz-linear-gradient(top,  #d02e10 0%, #901a11 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #d02e10 0%,#901a11 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #d02e10 0%,#901a11 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d02e10', endColorstr='#901a11',GradientType=0 ); /* IE6-9 */

}
.country {
    a.dropdown-toggle {
        color: #fff;
    }
    .dropdown-menu {
        background-color: #000;
    }
    .dropdown-menu > li > a {
        color: #fff;
    }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: #444444;
    }
}
